@import '../../app/variables.module.scss';

$padding: 4rem 3rem;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  border-radius: $border-radius-mobile;
  background-color: white;
  box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  @media (min-width: $md-breakpoint) {
    flex-direction: row;
    width: 95vw;
    border-radius: $border-radius-desktop;
  }

  @media (min-width: $lg-breakpoint) {
    width: 60vw;
  }
}

.leftContainer {
  background-color: $yellow;
  border-radius: $border-radius-mobile $border-radius-mobile 0 0;
  padding: $padding;
  width: 100%;
  height: auto;
  z-index: 2;

  @media (min-width: $md-breakpoint) {
    width: 40%;
    border-radius: $border-radius-desktop 0 0 $border-radius-desktop;
  }
}

.rightContainer {
  padding: $padding;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  flex-grow: 2;
}
