$yellow: #ffd300;
$tangerine: #ff9200;
$cloudy-blue: #cad7dd;
$blue-green: #49c8a8;
$pale-grey: #f5f8f9;
$charcoal-grey: #373d40;

$sm-breakpoint: 480px;
$md-breakpoint: 768px;
$lg-breakpoint: 1200px;